{% extends 'layout.html' %}

{% block title %} FAQ1 {% endblock %}

{% block body %}

<div class="w3-display-container mySlides w3-border" style="margin-top: 50px">
  <div style="margin-top:20px; margin-bottom:20px; margin-left:10px; margin-right:10px">
    <ul class="w3-ul">
      <li><strong><통상적인 요일 별 배송 스케줄></strong></li>
      <li>월~금요일 : 당일 오전 까지 입금 확인 된 주문은 대부분 당일 출고되며 오후 주문은 익일 출고 처리됩니다.</li>
      <li>토,일요일 및 공휴일 : 토,일요일 및 공휴일은 택배회사의 업무가 중단되어 다음 영업일에 확인 후 일괄적으로 출고됩니다. 추석, 설날과 같은 연휴에는 주문량 및 택배사 배송 물량이 많아 발송이 순차적으로 진행되거나 배송 이동 중 지연이 발생할 수 있습니다.</li>
      <li>상품 출고 후 택배사의 사정에 따라 1일 이상 배송이 소요됩니다.</li>
    </ul>
  </div>
</div>

{% endblock %}
