{% extends 'layout.html' %}

{% block title %} FAQ1 {% endblock %}

{% block body %}

<div class="w3-display-container mySlides w3-border" style="margin-top: 50px">
  <div style="margin-top:20px; margin-bottom:20px; margin-left:10px; margin-right:10px">
    <ul class="w3-ul">
      <li>	- 택배사를 통해 직접 반품 접수해야 합니다. </li>
      <li>- 수령하신 택배사로 반품 예약 시 착불(신용)로 접수합니다. [택배사 고객센터] 또는 택배사 홈페이지를 통해 착불(신용)로 반품 예약하여 상품을 반송해야 합니다. 일부 택배사는 반품 예약 시 자동으로 착불(신용)로 접수됩니다.</li>
      <li>- 사용 흔적, 오염, 케이스(포장) 손상, 라벨 제거, 사은품 사용 등의 사유 시 반품이 불가능합니다.</li>
      <li>- 환불 요청없이 반품을 보내시는 경우, 주문의 환불 요청이 확인되지 않아 처리가 누락될 수 있습니다. 반품을 이미 보낸 후라도 꼭 환불 요청을 해주셔야 합니다.</li>
    </ul>
  </div>
</div>

{% endblock %}
