{% extends 'layout.html' %}

{% block title %} 베이커리24 {% endblock %}

{% block body %}

<!-- Image header -->
<div class="w3-display-container w3-container">
  <img src="{{url_for('static', filename='images/image_header.jpg')}}" alt="Jeans" style="width:100%">
  <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
    <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
    <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
    <h1 class="w3-hide-small">COLLECTION 2020</h1>
    <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
  </div>
</div>

<div class="w3-container w3-text-grey" id="jeans">
  <p>8 items</p>
</div>

<!-- Product grid -->
<div class="w3-row">
  <div class="w3-col l3 s6">
    <div class="w3-container" style="height:300px;">
      <a href="/a6?view=82"><img src="{{url_for('static', filename='image/product/a6/a682.jpg')}}" style="width:100%"></a>
      <p>케익시트 3단 슬라이스<br><b>3300</b></p>
    </div>
    <div class="w3-container" style="height:300px;">
      <a href="/a2?view=12"><img src="{{url_for('static', filename='image/product/a2/a212.jpg')}}" style="width:100%"></a>
      <p>서울식품 파이피자시트(11인치)(230g×8개입)<br><b>25400</b></p>
    </div>
  </div>

  <div class="w3-col l3 s6">
    <div class="w3-container">
      <div class="w3-display-container" style="height:300px;">
        <a href="/a2?view=9"><img src="{{url_for('static', filename='image/product/a2/a29.jpg')}}" style="width:100%"></a>
        <p>서울식품 사각페스츄리시트(대) 1박스 12kg (600g*20개입)<br><b>49000</b></p>
      </div>
    </div>
    <div class="w3-container" style="height:300px;">
      <a href="/a5?view=58"><img src="{{url_for('static', filename='image/product/a5/a558.jpg')}}" style="width:100%"></a>
      <p>서울식품 AOP버터 뺑오쇼콜라 1봉 (55g*30개)<br><b>42700</b></p>
    </div>
  </div>

  <div class="w3-col l3 s6">
    <div class="w3-container" style="height:300px;">
      <a href="/b1?view=33"><img src="{{url_for('static', filename='image/product/b1/b133.jpg')}}" style="width:100%"></a>
      <p>대두 강력쌀가루 (국산) 15kg<br><b>44000</b></p>
    </div>
    <div class="w3-container">
      <div class="w3-display-container" style="height:300px;">
        <a href="/b1?view=35"><img src="{{url_for('static', filename='image/product/b1/b135.jpg')}}" style="width:100%"></a>
        <p>대두 박력쌀가루 (국산) 15kg<br><b>34800</b></p>
      </div>
    </div>
  </div>

  <div class="w3-col l3 s6">
    <div class="w3-container" style="height:300px;">
      <a href="/b3?view=23"><img src="{{url_for('static', filename='image/product/b3/b323.jpg')}}" style="width:100%"></a>
      <p>대두 통팥앙금 5kg 57M<br><b>13000</b></p>
    </div>
    <div class="w3-container" style="height:300px;">
      <a href="/b3?view=28"><img src="{{url_for('static', filename='image/product/b3/b328.jpg')}}" style="width:100%"></a>
      <p>대두 강낭콩배기 2kg<br><b>7200</b></p>
    </div>
  </div>
</div>



{% endblock %}
