<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='image/other/logo_icon.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/carts.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="static/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
  </head>
  <body class="w3-content" style="max-width:1200px">
    {% block body %}

    {% endblock %}
    <!-- Subscribe section -->
    <div class="w3-container w3-white w3-padding-32 w3-row">
    <div class="w3-container w3-col m9">
      <ul>
        <li>고객센터 [<a href="/help">FAQ</a>   <a href="/help">1:1질문하기</a>   <a href="/help">이메일문의</a>]</li>
        <li>대표전화 <a href="tel:01030655770">010-3065-5770</a></li>
        <li>오전9시-오후6시(토,일, 공휴일 휴무)</li>
      </ul>
      <p style="color:gray">업체명 : 베이커리24 | 경기도 고양시 덕양구 도내동 595-7 | 사업자등록번호 : 505-38-94030 | 대표 : 민병운 (mbu4135@gmail.com) | 호스팅사업자 : pythonanywhere </p>
    </div>
    <div class="w3-container w3-col m3">
      <!-- KB에스크로 이체 인증마크 적용 시작 -->
  <script>
  function onPopKBAuthMark()
  {
  window.open('','KB_AUTHMARK','height=604, width=648, status=yes, toolbar=no, menubar=no,
   location=no');
  document.KB_AUTHMARK_FORM.action='http://escrow1.kbstar.com/quics';
  document.KB_AUTHMARK_FORM.target='KB_AUTHMARK';
  document.KB_AUTHMARK_FORM.submit();
  }
  </script>
  <form name="KB_AUTHMARK_FORM" method="get">
  <input type="hidden" name="page" value="B009111"/>
  <input type="hidden" name="cc" value="b010807:b008491"/>
  <input type="hidden" name="mHValue" value='5a39298d9d0c2cf00188af36509bede5202005251633587'/>
  </form>
  <a href="#" onclick="javascript:onPopKBAuthMark();return false;">
  <img src="http://img1.kbstar.com/img/escrow/escrowcmark.gif" border="0"/>
  </a>
  <!-- KB에스크로 이체 인증마크 적용 종료 -->
    </div>
    </div>

    <!-- Footer -->

    <div class="w3-black w3-center w3-padding-24">베이커리24</div>

    <!-- End page content -->
    <script>
    // Accordion
    function myAccFunc() {
      var x = document.getElementById("demoAcc");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    // Click on the "Jeans" link on page load to open the accordion for demo purposes
    document.getElementById("myBtn").click();


    // Open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
    </script>
  </body>
</html>
