{% extends 'layout.html' %}
{% block body %}
{% for product in b5 %}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:20px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:10px"></div>

  <!-- Slideshow Header -->
  <div class="w3-container" id="apartment">
    <h2 class="w3-text-green">오일,향료,향신료</h2>
    <div class="w3-row">
    <div class="w3-col s9">
    <div class="w3-display-container mySlides">
    <img src="static/image/products/{{product.category}}/{{product.picture}}" style="height:390px;width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>1</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="static/image/products/{{product.category}}/2/{{product.picture}}" style="height:390px;width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>2</p>
      </div>
    </div>
    <div class="w3-display-container mySlides">
    <img src="static/image/products/{{product.category}}/3/{{product.picture}}" style="height:390px;width:100%;margin-bottom:-6px">
      <div class="w3-display-bottomleft w3-container w3-black">
        <p>3</p>
      </div>
    </div>
  </div>
    <div class="w3-col s3">
      <img class="demo w3-opacity w3-hover-opacity-off" src="static/image/products/{{product.category}}/{{product.picture}}" style="height:130px;width:100%;cursor:pointer" onclick="currentDiv(1)" title="제품 1">
      <img class="demo w3-opacity w3-hover-opacity-off" src="static/image/products/{{product.category}}/2/{{product.picture}}" style="height:130px;width:100%;cursor:pointer" onclick="currentDiv(2)" title="제품 2">
      <img class="demo w3-opacity w3-hover-opacity-off" src="static/image/products/{{product.category}}/3/{{product.picture}}" style="height:130px;width:100%;cursor:pointer" onclick="currentDiv(3)" title="제품 3">
    </div>
  </div>
 </div>

  {% if session.logged_in %}
  <div class="card-body">
      {% from "includes/_formhelpers.html" import render_field %}
      <form method="POST" action="/{{product.category}}?order={{product.id}}">
          <div class="form-group">
              {{render_field(form.quantity, class_="form-control")}}
              <input type="hidden" name="price" style="width:50%" value="{{ product.price}}">
              <input type="hidden" name="pName" value="{{ product.pName}}">
          </div>
          <button type="submit" class="btn btn-primary">장바구니 담기</button>
      </form>
  </div>
  {% else %}
  <div class="card-body">
      {% from "includes/_formhelpers.html" import render_field %}
      <form method="POST" action="/{{product.category}}?order={{product.id}}">
          <div class="form-group">
              <input type="text" class="form-control" name="ofname" placeholder="성함">
          </div>
          <div class="form-group">
              {{render_field(form.quantity, class_="form-control")}}
              <input type="hidden" name="price" value="{{ product.price}}">
              <input type="hidden" name="pName" value="{{ product.pName}}">
          </div>
          <button type="submit" class="btn btn-primary">장바구니 담기</button>
      </form>
  </div>
  {% endif %}


    <h4><strong>Extra Info</strong></h4>
    <p>{{product.info3}}</p>
    <hr>

    <h4><strong>Rules</strong></h4>
    <p>{{product.info4}}</p>
  </div>
  <hr>
{% endfor %}
  <script>
  // Script to open and close sidebar when on tablets and phones
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }

  // Slideshow Apartment Images
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-opacity-off";
  }
  </script>

  {% endblock %}
